* {
  font-family: "Tajawal", sans-serif;
}

html {
  height: 100%;
  display: flex;
}

.app {
  display: flex;
  align-items: center;
  margin: 10px;
  flex-direction: column;
}

body {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(
    to right bottom,
    #b5f8ff,
    #a4edff,
    #9ae0ff,
    #98d2ff,
    #a0c3ff,
    #aebcff,
    #c0b4ff,
    #d4aafa,
    #e1acf6,
    #edaff1,
    #f7b2ed,
    #ffb6e9
  );
  color: #1d283a;
}

h1 {
  align-items: center;
}

button.given-color {
  align-items: center;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: none;
  font-size: 36px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 9px rgb(240, 240, 240);
}

button:active {
  transform: translateY(4px);
}

button:hover {
  box-shadow: 0 5px rgb(130, 130, 130);
}

.guess {
  font-size: 1.5em;
  display: flex;
}

.submit {
  border: none;
  border-radius: 10px;
  width: 4em;
  height: 2em;
  margin: 5px;
  font-size: 0.6em;
}

.submit:hover {
  box-shadow: 0 2px rgb(130, 130, 130);
}

.submit:active {
  transform: translateY(2px);
}

input[type="text"] {
  border: none;
  border-radius: 5px;
  height: 2em;
  width: 2.5em;
  text-align: center;
}

footer {
  position: absolute;
  bottom: 0rem;
  height: 1.5rem;
}
