* {
  font-family: "Tajawal", sans-serif;
}

html {
  height: 100%;
  display: flex;
}

.app {
  display: flex;
  align-items: center;
  margin: 10px;
  flex-direction: column;
}

body {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: linear-gradient(
    to right bottom,
    #b5d3ff,
    #b8cfff,
    #bcccff,
    #c1c7ff,
    #c7c3ff,
    #cec1ff,
    #d5bfff,
    #dcbdff,
    #e4bdff,
    #ecbdff,
    #f4bdff,
    #fcbdff
  );
  color: #1d283a;
}

h1 {
  align-items: center;
}

button.given-color {
  align-items: center;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: none;
  font-size: 36px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 9px rgb(240, 240, 240);
}

button:active {
  transform: translateY(4px);
}

button:hover {
  box-shadow: 0 5px rgb(130, 130, 130);
}
